* {
    box-sizing: border-box;
    font-family: 'Roboto';

}

body {

    min-width: 360px;
    background-color: #f5f5eb;

    header {
        text-align: center;
        background-color: #169094;
        margin: 0;
        padding: .5em;
        border-radius: 1em;

        a {
            text-decoration: none;

            h1 {
                color: #8b9090;
                display: inline-block;
            }
        }


    }

    nav {
        background-color: #004041;
        border-radius: .5em;
        margin: 0;
        padding: 0;
        position: sticky;
        top: 0;
        z-index: 1;

        ul {
            display: flex;
            list-style: none;
            justify-content: space-around;
            margin: 0;

            li {
                a {
                    text-decoration: none;
                    color: #8b9090;

                }

            }
        }

    }


    aside {
        display: flex;
        justify-content: flex-end;

        form {
            background-color: #2e8082;
            color: #8b9090;
            border-radius: .5em;
            margin: 0.25em;
            padding: 1em;
            width: auto;
            text-align: right;
        }
    }


}

@media (max-width: 1024px) {

    /**breakpoint yeah**/
    body {
        margin: 3em;
    }
}