*{
    box-sizing: border-box;
    font-family: 'Roboto';
    
}
body{
    background-color: #f5f5eb;
    header{
        text-align: center;
        background-color: #169094 ;
        margin: 0;
        padding: .5em;
        border-radius: 1em;

        a{
            text-decoration: none;
            h1{
                color: #8b9090;
                display: inline-block;
            }
        }

        
    }

    nav{
        background-color: #004041;
        text-align: center;
        border-radius: .5em;
        margin:0;
        
        ul{
            display: flex;
            justify-content: space-evenly;
            li{
                display: inline-block;
                font-size: 30px;
                
                a{
                    text-decoration: none;
                    color:#8b9090;
                    
                }
        
            }
        }

    }


    aside{

    }

    main{

    }
}

@media (max-width: 1024px) { /**breakpoint yeah**/
    body {
        margin:3em;
    }
}