
@import url("./variables.css");
main {
    text-align: center;
    
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 600px;
        margin: 20px auto;
        padding: 20px;
        background-color: var(--form-background-color);
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        color: var(--form-text-color);
    
        label {	
            margin: .5em;
        }
        
        input, select {
            background-color: var(--input-background-color);
            margin: .5em;
            padding: .5em;
            border-radius: 5px;
            border: 1px solid var(--input-border-color);
        }

        input:hover, input:focus {
            background-color: var(--input-hover-background-color);
            cursor: pointer;
        }

        input[type="submit"] {
            background-color: var(--submit-button-background-color);
            color: var(--submit-button-text-color);
            border: none;
            padding: .5em;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                background-color: var(--submit-button-hover-background-color);
            }
        }
    }
}
